body {
  background-color: rgb(238, 238, 238);
}

#home-body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), image-url('orange-county.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.my-container {
  margin: 30px auto;
  width: 75%;
}

.car-card {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  background-color: white;
  width: 60%;
  position: relative;
  box-shadow: 0px 0px 25px #00000064;

  img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  a {
    text-decoration: none;
    font-family: "Syne", serif;
    font-weight: 700;
    font-style: italic;
    color: #000000;
    font-size: 25px;
  }

  h4 {
    font-family: "Syne", serif;
    font-weight: 800;
    color: #FFEB00;
    font-size: 30px;
  }
}


.car-info {
  padding: 20px;

  i {
    color: #FFEB00;
    margin-right: 10px;
    font-size: 25px;
  }

  p {
    color: grey;
    font-style: italic;
  }

  a:hover {
    color: #FFEB00;
  }
}

.divider {
  width: 100%;
  color: #FFEB00;
  height: 5px;
  border-bottom: 2px solid #FFEB00;
}


.nickname-element {
  background-color: #FFEB00;
  width: fit-content;
  padding: 10px 15px;
  border-radius: 20px;
  color: black;
  position: absolute;
  bottom: 40px;
  right: 20px;
  font-weight: 800;
  font-style: italic;

}


@media (min-width: 200px) and (max-width: 991.98px) {
  .car-card {
    width: 100%;
  }
}

@media (min-width: 200px) and (max-width: 991.98px) {
  .nickname-element {
    font-size: 15px;
    padding: 5px 10px;
    position: absolute;
    bottom: 45px;
    right: 20px;
  }
}
