<div class="my-container">
    <div class="home-screen">
    <h1>AWESOME GARAGE</h1>
    <%= image_tag "Homebanner.svg", id: "homebanner" %>
    <%= link_to "Enter", cars_path, class: "btn-orange" %>
  </div>
</div>
